<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengyue.twomapper.TwoMapper">
  <resultMap id="BaseResultMap" type="com.fengyue.pojo.Two">
    <id column="id_" jdbcType="VARCHAR" property="id" />
    <result column="name_" jdbcType="VARCHAR" property="name" />
    <result column="desc_" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    id_, name_, desc_
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_spring_two_
    where id_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_spring_two_
    where id_ = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fengyue.pojo.Two">
    insert into t_spring_two_ (id_, name_, desc_
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fengyue.pojo.Two">
    insert into t_spring_two_
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id_,
      </if>
      <if test="name != null">
        name_,
      </if>
      <if test="desc != null">
        desc_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengyue.pojo.Two">
    update t_spring_two_
    <set>
      <if test="name != null">
        name_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc_ = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengyue.pojo.Two">
    update t_spring_two_
    set name_ = #{name,jdbcType=VARCHAR},
      desc_ = #{desc,jdbcType=VARCHAR}
    where id_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>